[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CHNCapitalStock"]
	path = CHNCapitalStock
	url = https://github.com/common2016/capitalstock
[submodule "FAVAR"]
	path = FAVAR
	url = https://github.com/common2016/favar
